<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>

    <title>Asset Gateway :: a Spring Framework demonstration</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>    

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="container">

<div class="container-fluid">
    <a href="/">Go Home</a>
    <a href="/api/gateway/assets/">Assets List</a>
    <a href="/api/gateway/users/">Users List</a>
    <h1>Asset List</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Asset Code</th>
                <th>Asset Name</th>
                <th>Description</th>
                <th>Asset Owner</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="asset : ${assets}">
                <td th:text="${asset.id}"></td>
                <td th:text="${asset.type.name}"></td>
                <td th:text="${asset.assetCode}"></td>
                <td th:text="${asset.assetName}"></td>
                <td th:text="${asset.description}"></td>                
                <td>
                    <a th:href="@{/users/{id}(id=${asset.user.id})}">
                        ${asset.user.name}
                    </a>
                </td>
                <td th:text="${asset.department.departmentName}"></td>                
            </tr>
            <tr th:if="${messages.empty}">
                <td colspan="4">No Messages!</td>
            </tr>
             <tr>
                <td colspan="4"><a th:href="@{/assets/add}">New Asset</a></td>
             </tr>
        </tbody>
    </table>
</div>

</body>

</html>
